/* Archivo principal - Importa todos los estilos */

@import './variables.css';
@import './reset.css';
@import './typography.css';
@import './buttons.css';
@import './forms.css';
@import './tables.css';
@import './cards.css';
@import './navbar.css';
@import './modals.css';
@import './utilities.css';
@import './responsive.css';
